li {
    padding: 5px;
    
}
.li_point:hover{
    background-color: yellow;
}
.strait_cbx{
    max-width: 150px;
}
.search-layer {
    background-color: rgba(248, 248, 248, 0.7);
    position: relative;
    overflow: auto;
    max-height: 250px;
}